<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Welcome! I'm <b>Jay Mishra</b> 🙏, a multifaceted professional with expertise in web development, digital marketing, and content creation. I also specialize in creating web applications, plugins, and themes for various platforms like WordPress, and extensions for Edge, Chrome OS, Linux, and more.
          </p>
      </div>
      <div class="col-lg-4">
        <p>As a <b style="color: #2c3e50;">**Web Developer**</b>, I design and build not only websites but also web applications that solve complex problems. I create custom plugins and themes for WordPress, enhancing functionality and ensuring a seamless user experience.</p>
      </div>
      <div class="col-lg-4">
  <p>As an <b style="color: #2c3e50;">**Extension Developer**</b>, I develop useful and innovative extensions for browsers like Edge and Chrome, and for operating systems like Linux, enhancing their capabilities and making them more user-friendly.
  </p>   
  </div>
      <div class="col-lg-4">
      <p>As a <b style="color: #2c3e50;">**Digital Marketer**</b>, I devise and implement strategies that increase online visibility, engage target audiences, and drive business growth.
      </p>
      </div>
      <div class="col-lg-4">
       <p>As a <b style="color: #2c3e50;">**Content Creator**</b>, I produce compelling and tailored content that resonates with audiences and amplifies your brand's voice across digital platforms.
      </p>
      </div>
      <br>
      <div class="col-lg-4">
       <h5>I believe in building trust and fostering long-term relationships with my clients. When you choose to work with me, you're partnering with a committed professional who is invested in your success. Explore my website to learn more about my services and how I can help you achieve your business goals. Let's create something extraordinary together! 😎
       </h5>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="tel:08369245801" class="btn btn-lg btn-outline">
          <i class="fa fa-phone"></i> &nbsp;Call Now
        </a>
      </div>
    </div>
  </div>
</section>
