#myImage {
    height: 50vh;
     /* This sets the height to 50% of the viewport height */
    object-fit: cover;
     /* This ensures that the aspect ratio of the image is preserved */
     /* animation: flip 3s infinite; */
}

@keyframes flip {
    0% {
      transform: perspective(1200px) rotateY(0deg);
      opacity: 1;
    }
    50% {
      transform: perspective(1200px) rotateY(-180deg);
      opacity: 0;
    }
    100% {
      transform: perspective(1200px) rotateY(-180deg);
      opacity: 1;
    }
  }

  #menu_btn{
    width: 40vh;
    /* background-color: rgb(114 3 245); */
    background-color: #0d7cc6;
    border-start-end-radius: 50%;
    /* border-end-start-radius: 50%; */
    border-end-end-radius: 50%;
    /* border-block: revert-layer; */
    color: white;
    border-width: thick;
    border-color: aliceblue;
  }
  #menu_btn::after {
    content: "(";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(509%, -50%);
    height: 86px;
    width: 7px;
    font-size: xxx-large;
}

  #bgefft:hover{
    cursor: pointer; 
  }

  /* #bullet-pin{
    border: thick dashed gold;
  } */