<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jay Mishra - Web Developer & Financial Enthusiast</title>
    <link rel="icon" type="image/png" href="{{ './assets/images/jaymishralogo.png' | relative_url }}">
    <link rel="stylesheet" href="{{ './assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ './assets/css/style.css' | relative_url }}">
</head>
<body class="rounded-circle img-fluid" style="background-color: lightblue;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 text-left"><br><br>
                <div class="list-group">
                   <button class="list-group-item list-group-item-action" id="menu_btn">PHP</button><br>
                   <button class="list-group-item list-group-item-action" id="menu_btn">JS</button><br>
                   <button class="list-group-item list-group-item-action" id="menu_btn">CSS</button>
                </div>
            </div>
            <div class="col-lg-4 text-center">
            Center
                <div class="d-flex justify-content-center vh-100" style="padding-top:15vh">
                    <!-- <img id="myImage" class="rounded-circle img-fluid" src="./assets/images/bgeffect.gif">   -->
                    <video id="bgefft" class="rounded-circle img-fluid" width="320" height="240" autoplay muted>
                        <source src="./assets/images/bgefft.mp4" type="video/mp4">
                        If your browser dosn't support this!.
                    </video>
                </div>
            </div>
            <div class="col-lg-4 text-right">Right</div>
        </div>
    </div>
</body>
</html>
<script src="{{'./assets/js/jquery.min.js' | relative_url}}"></script>
<script src="{{'./assets/js/bootstrap.bundle.min.js' | relative_url}}"></script>
